* {
  box-sizing: border-box;
}

.hello {
  color: purple;
}

/* Leaflet */
#tileMapId {
  height: 265px;
}

#aqiDivId {
  background-color: grey;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

#info-container {
  position: relative;
  top: -60px;
}

#infoTile {
  height: 260px;
}
#exploreMap {
  height: 450px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 4px;
}

#exploreAqiId {
  color: white;
  border-radius: 5px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  #search-addon {
    display: none;
  }

  #getPosButton {
    display: none;
  }
}
