* {
  box-sizing: border-box;
}

.hello {
  color: purple;
}

 /* Leaflet */
 #tileMapId {
   height: 225px;

  }


#aqiDivId {
  background-color: grey;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
#getPosButton2 {


}

#info-container {
  position: relative;
  top: -60px;
}
